* {
    margin:0;
    padding: 0;
    /* border-box: b; */
}

.main{
    width:100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(image/3d-tropical-palm-tree-island-landscape_1048-10500.jpg) ;
    background-position:center;
    background-size: cover;
    height: 80%;
    
}
.navbar{
    /* width: 50%;
    height:50%; */
     width: 1200px;
    height:75px;
    margin:auto;
}
.icon{
    width: 200px;
    float:left;
    height: 70px; ;
}
.logo{
    color:orangered;
    font-size: 35px;
    font-family: arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width:400px;
    float:left;
    height:70px
}
ul{
    display: flex;
    justify-content:center;
    align-items: center;
    float: left;
}
ul li{
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    /* list-style: none; */
 }

